* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@import url(allmin.css);
@import url(media.css);
@import url(stylesheet.css);

.container {
    max-width: 1240px;
    margin: auto;
}

html {
    scroll-behavior: smooth;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12 {
    padding: 15px;
}

$font-baloo: 'Baloo Thambi 2';
$font-robot: 'Roboto Condensed';
$primery-900: #006eb7;
$primery-700: #0385db;
$white: #fff;
$black: #000;

// comman class
.row {
    display: flex;
    flex-wrap: wrap;
}

.align-itmes-center {
    align-items: center;
}

.justfy-content-between {
    justify-content: space-between;
}

.padding-100 {
    padding: 100px 0px;
}

.font-robot {
    font-family: $font-robot;
}

.font-baloo {
    font-family: $font-baloo;
}

.fs-60 {
    font-size: 60px;
}

.fs-40 {
    font-size: 40px;
}

.fs-30 {
    font-size: 30px;
}

.uppercase {
    text-transform: uppercase;
}

.captalize {
    text-transform: capitalize;
}

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

// loader
.sq-loder {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

    .sq-loder-4 {
        width: 100px;
        height: 100px;
        border: 5px solid #0c1957;
        animation: scale1 2s linear infinite;
        border-radius: 100%;

        .in-sq-loder-4 {
            width: 100%;
            height: 100%;
            border-radius: 100%;
            border: 5px solid #5d83e396;
            animation: scale2 2s ease-in infinite;
            overflow: hidden;

            .in-sq-loder-4 img {
                margin: 5px;
                animation: scale1 2s ease-out infinite;
            }
        }

    }
}

@keyframes scale1 {
    0% {
        transform: perspective(200px) rotatex(0deg) rotateY(0deg);
    }

    50% {
        transform: perspective(200px) rotatey(180deg) rotateY(180deg);
    }

    100% {
        transform: perspective(200px) rotatey(360deg) rotateY(360deg);
    }
}

@keyframes scale2 {
    0% {
        width: 100%;
        transform: perspective(200px) rotatex(0deg) rotateY(0deg);
    }

    50% {
        width: 80%;
        height: 80%;
        transform: perspective(200px) rotatey(180deg) rotateY(180deg);
    }

    100% {
        width: 100%;
        transform: perspective(200px) rotatey(360deg) rotateY(360deg);
    }
}

// header
header {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.714);
    width: 100%;
    z-index: 999;

    .logo {
        margin: 10px 0;
    }

    nav {
        ul {
            li {
                padding-left: 15px;

                a {
                    letter-spacing: 2x;
                    font-size: 20px;
                    font-weight: 500;
                    position: relative;
                    transition: all 0.5s;
                    color: $black;
                }

                a::after {
                    position: absolute;
                    content: "";
                    width: 0%;
                    height: 0%;
                    bottom: -5px;
                    left: 0;
                    transition: all 1s;
                    border-bottom: 2px solid $primery-700;
                }

                a:hover::after,
                a:hover {
                    width: 110%;
                    height: 110%;
                    color: $primery-700;
                }
            }
        }
    }

    .nav-logo {
        display: none;
    }
}

// banner section 
.banner-bg {
    background-image: url(../img/banner.jpg);
    background-size: cover;

    .banner-content {
        h2 {
            text-align: right;

            a {
                color: $black;
                transition: all 0.5s;
            }

            &:hover a {
                color: $primery-900 ;
            }
        }

        .banner-icon {
            align-items: center;
            justify-content: end;

            .w-50 {
                width: 50px;
                height: 50px;
                border-radius: 15px;
                text-align: center;
                line-height: 55px;
                transition: all 0.5s;
                margin: 0px 10px;

                a {
                    i {
                        color:$black;
                        font-size: 25px;
                    }
                }

                &:hover {
                    color: $primery-700;
                    background-color: $white;
                    border: 2px solid $primery-900;
                }
                &:hover a i {
                    color: $primery-700;
                }
            }
        }
    }

    .banner-img {
        margin-top: 100px;

        img {
            border: 10px solid #000;
        }
    }
}

// about section 
.about {
    .about-detail {
        .about-img {
            width: 80%;
            filter: brightness(0.8);

            img {
                transition: all 0.8s;
            }
        }

        .about-img:hover img {
            filter: grayscale(1.2);
        }

        .about-content {
            p {
                text-transform: capitalize;
                font-size: 25px;
                line-height: 35px;
                padding-top: 5px;
            }

            h2 {
                margin: 20px 0;

            }

            span {
                font-size: 22px;
                letter-spacing: 2px;
                word-spacing: 5px;
                font-weight: 500;
            }

            .glow-on-hover {
                width: 220px;
                height: 50px;
                border: $primery-700;
                color: $white;
                background: $primery-900;
                cursor: pointer;
                position: relative;
                z-index: 0;
                border-radius: 10px;
                font-weight: 700;
                font-size: 15px;
                display: block;
                margin-top: 20px;

                &:before {
                    content: '';
                    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
                    position: absolute;
                    top: -2px;
                    left: -2px;
                    background-size: 400%;
                    z-index: -1;
                    filter: blur(5px);
                    width: 100%;
                    height: 100%;
                    animation: glowing 20s linear infinite;
                    opacity: 0;
                    transition: opacity .3s ease-in-out;
                    border-radius: 10px;
                }

                &:active {
                    color: $white;
                }

                &:active:after {
                    background: transparent;
                }

                &:hover:before {
                    opacity: 1;
                }

                &:after {
                    z-index: -1;
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background: $primery-700;
                    left: 0;
                    top: 0;
                    border-radius: 10px;
                }
            }

            @keyframes glowing {
                0% {
                    background-position: 0 0;
                }

                50% {
                    background-position: 400% 0;
                }

                100% {
                    background-position: 0 0;
                }
            }
        }
    }
}

// education
.education {
    background-color: #5067d91d;

    .my-education {
        border-left: 2px solid $primery-900;
        position: relative;
        margin: 80px 0;

        .icon {
            position: absolute;
            width: 50px;
            height: 50px;
            background-color: $primery-900;
            text-align: center;
            top: -50px;
            left: -25px;
            font-weight: 800;
            transition: all 0.5s;

            i {
                color: $white;
                line-height: 50px;
                font-size: 25px;
            }
        }

        &:hover i {
            color: $primery-900;
        }

        &:hover .icon {
            background-color: transparent;
            border: 2px solid $primery-900;
        }

        p {
            font-size: 15px;
            letter-spacing: 3px;
            padding-left: 40px;
        }

        h1 {
            padding: 10px 0;
            padding-left: 40px;
        }
    }
}

// skills secation
.skills {
    .comman-hedding {
        h1 {
            padding: 5px;
        }
    }

    .skills-details {
        background-image: url(../img/circle-1.png);
        background-repeat: no-repeat;
        background-position: right bottom;

        .skill-content-1 {
            .skills-pre {
                width: 100%;
                height: 15px;
                margin-top: 10px;
                margin-bottom: 30px;
                background-color: #0098fda8;
                border-radius: 15px;
                position: relative;

                .skills-sub-pre {
                    border-radius: 15px;
                    width: 95%;
                    height: 15px;
                    background-color: $primery-900;
                    text-align: end;
                }
            }
        }

        .skill-content-2 {
            .skills-pre {
                width: 100%;
                height: 15px;
                margin-top: 10px;
                background-color: #0098fda8;
                border-radius: 15px;
                margin-bottom: 30px;
                position: relative;

                .skills-sub-pre {
                    border-radius: 15px;
                    width: 83%;
                    height: 15px;
                    background-color: $primery-900;
                    text-align: end;
                }
            }
        }

        .skill-content-3 {
            .skills-pre {
                width: 100%;
                height: 15px;
                margin-top: 10px;
                margin-bottom: 30px;
                background-color: #0098fda8;
                border-radius: 15px;
                position: relative;

                .skills-sub-pre {
                    width: 87%;
                    height: 15px;
                    border-radius: 15px;
                    background-color: $primery-900;
                    text-align: end;
                }
            }
        }

        .skill-content-4 {
            .skills-pre {
                width: 100%;
                height: 15px;
                background-color: #0098fda8;
                border-radius: 15px;
                margin-top: 10px;
                margin-bottom: 30px;
                position: relative;

                .skills-sub-pre {
                    width: 80%;
                    height: 15px;
                    border-radius: 15px;
                    background-color: $primery-900;
                    text-align: end;
                }
            }
        }
    }
}

// portfolio
.portfolio {
    background-image: url(../img/R.jpeg);
    background-size: cover;
    background-attachment: fixed;

    .comman-hedding {
        h1 {
            color: $white;
        }
    }

    .img-box {
        width: 100%;
        height: 300px;
        overflow: hidden;
        transition: all 0.5s;
        filter: grayscale(100%);

        &:hover img {
            transform: translateY(-1000px);
        }

        &:hover {
            filter: grayscale(0%);
        }

        img {
            transition: all 15s;
        }
    }
}

// contect
.contact {
    iframe {
        width: 100%;
    }

    .contact-heading {
        h1 {
            letter-spacing: 2px;
            word-spacing: 3px;
            font-weight: 500;
            text-align: center;
        }
    }

    .contact-detail {
        form {

            input,
            textarea {
                margin-top: 40px;
                font-size: 17px;
                border: none;
                border-bottom: 2px solid rgba(49, 48, 48, 0.662);
            }

            .width-100,
            textarea {
                width: 100%;
            }

            a {
                .glow-on-hover {
                    width: 250px;
                    height: 50px;
                    border: $primery-700;
                    color: $white;
                    background: $primery-900;
                    cursor: pointer;
                    position: relative;
                    z-index: 0;
                    border-radius: 10px;
                    font-weight: 700;
                    font-size: 15px;
                    display: block;
                    margin-top: 20px;

                    &:before {
                        content: '';
                        background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
                        position: absolute;
                        top: -2px;
                        left: -2px;
                        background-size: 400%;
                        z-index: -1;
                        filter: blur(5px);
                        width: 100%;
                        height: 100%;
                        animation: glowing 20s linear infinite;
                        opacity: 0;
                        transition: opacity .3s ease-in-out;
                        border-radius: 10px;
                    }

                    &:active {
                        color: $white;
                    }

                    &:active:after {
                        background: transparent;
                    }

                    &:hover:before {
                        opacity: 1;
                    }

                    &:after {
                        z-index: -1;
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background: $primery-700;
                        left: 0;
                        top: 0;
                        border-radius: 10px;
                    }
                }

                @keyframes glowing {
                    0% {
                        background-position: 0 0;
                    }

                    50% {
                        background-position: 400% 0;
                    }

                    100% {
                        background-position: 0 0;
                    }
                }
            }

        }
    }
}

// footer 
footer {
    background-color: #6276d915;
}





// media 
@media (max-width:991px) {
    .text-center {
        text-align: center;
    }

    .order-1 {
        order: 2;
    }

    .contact {

        .contact-detail {
            form {
                a {
                    .glow-on-hover {
                        width: 200px;
                        height: 50px;
                        border: $primery-700;
                        color: $white;
                        background: $primery-900;
                        cursor: pointer;
                        position: relative;
                        z-index: 0;
                        border-radius: 10px;
                        font-weight: 700;
                        font-size: 15px;
                        display: block;
                        margin-top: 20px;

                        &:before {
                            content: '';
                            background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
                            position: absolute;
                            top: -2px;
                            left: -2px;
                            background-size: 400%;
                            z-index: -1;
                            filter: blur(5px);
                            width: 100%;
                            height: 100%;
                            animation: glowing 20s linear infinite;
                            opacity: 0;
                            transition: opacity .3s ease-in-out;
                            border-radius: 10px;
                        }

                        &:active {
                            color: $white;
                        }

                        &:active:after {
                            background: transparent;
                        }

                        &:hover:before {
                            opacity: 1;
                        }

                        &:after {
                            z-index: -1;
                            content: '';
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            background: $primery-700;
                            left: 0;
                            top: 0;
                            border-radius: 10px;
                        }
                    }

                    @keyframes glowing {
                        0% {
                            background-position: 0 0;
                        }

                        50% {
                            background-position: 400% 0;
                        }

                        100% {
                            background-position: 0 0;
                        }
                    }
                }
            }
        }
    }

    .order-2 {
        order: 1;
    }

    .toggle {
        display: block;
        padding-right: 10px;
    }

    header {
        nav {
            ul {
                flex-direction: column;
                position: absolute;
                width: 100%;
                height: 350px;
                background-color: $white;
                left: 0%;
                top: -300%;
                z-index: -1;
                transition: all 0.5s;

                li {
                    width: 100%;
                    text-align: center;
                    padding: 10px 35px;
                }
            }
        }

        .nav-logo {
            display: block;
        }
    }

    .show nav ul {
        top: 90%;
    }

    .banner-bg {
        .banner-content {
            h2 {
                text-align: center;
            }

            .banner-icon {
                justify-content: center;
            }
        }

        .banner-img {
            margin-top: 0px;
        }
    }

    .about {
        .about-detail {
            .about-img {
                margin: auto;
                // width: 100%;
            }
        }
    }

    .education {

        .my-education {
            p {

                text-align: center;
            }

            h1 {
                text-align: center;
            }
        }
    }

    footer {

        h2,
        h3 {
            font-size: 15px;
        }
    }
}

@media (max-width:767px) {

    header {
        nav {
            ul {
                flex-direction: column;
                position: absolute;
                width: 100%;
                height: 350px;
                background-color: $white;
                left: 0%;
                top: -400%;
                z-index: -1;
                transition: all 0.5s;

                li {
                    width: 100%;
                    text-align: center;
                    padding: 10px 35px;
                }
            }
        }

        .nav-logo {
            display: block;
        }
    }

    .show nav ul {
        top: 90%;
    }

    .about {
        .about-detail {
            .about-content {
                .glow-on-hover {
                    width: 100%;
                }
            }
        }
    }
}

.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: white;
}